.section__name, .section__entries, .list__title, .article__title, .article__placement {
  opacity: 0.6 ;
}

.list__title, .entry__title a, .section__name a, .article__location, h1 {
  color: #713a86;
}

.section__name a {
  opacity: 1 ;
}

.article__location {
  size: smaller ;
  font-style: italic ;
}